.LandingPage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: black;
    animation: open 7s ease-in-out;
}

h1 {
    font-weight: bold;
    font-size: 2.5rem;
    letter-spacing: 5px;
}

.banner {
    background-image: url(../../images/unsplash.png);
    background-size: cover;
    background-position: center;
    opacity: 1;
    /* box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5); */
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    color: white;
    font-weight: bold;
    font-size: 5rem;
    box-shadow: 0px 0px 20px 3px rgba(255, 255, 255, 0.19);
    letter-spacing: 2px;
    border-bottom: 1px solid rgba(255, 255, 255, .5)
}

.exploreButton {
    margin-top: 40px;
    background: rgba(156, 155, 154, 0.558);
    border: 2px solid rgba(255, 255, 255, .4);
    outline: none;
    border-radius: 6px;
    color: rgb(255, 255, 248);
    padding: 7px;
    font-size: 1.4rem;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
    transition: 300ms ease;
    letter-spacing: 2px;
    /* margin-left: 65px; */
}

.exploreButton:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.8);
}

.exploreButton:focus {
    outline: none;

}

.exploreButton:active {
    border: 2px solid rgb(255, 255, 255);
    outline: none;
    transform: translateY(2px);
}

.pageLoader {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: rgb(2, 2, 2);
    z-index: 5;
}

.loading {
    transition: 300ms ease-in-out;
    animation: loading 300ms ease-in-out alternate infinite;
    backface-visibility: hidden;
    margin-bottom: 20px;
}

.ourValues {
    font-size: 4rem;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 1);
}

.core {
    display: flex;
    flex-direction: column;
    background: black;
}

@keyframes loading {
    0% {
        color: rgba(255, 255, 255, 0.5);
        transform: scale(1);
    }

    100% {
        color: rgba(255, 255, 255, 1);
        transform: scale(1.1);
    }
}

@keyframes open {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}