body {
    top: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
    font-size: 12px;
    animation: open 800ms ease-in-out;
    height: 100%;
    width: 100%;
    background: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@keyframes open {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}